[submodule "_data/navbars_theme"]
	path = _data/navbars
	url = https://github.com/SEFSC/documentation-theme-jekyll
	branch = navbars
[submodule "documentation-theme-jekyll"]
	path = theme
	url = https://github.com/SEFSC/documentation-theme-jekyll
